body {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #c9d6ff, #e2e2e2);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
#description {
  text-align: center;
}
div {
  background-color: rgba(124, 119, 119, 0.6);
  width: 90%;
  border-radius: 10px;
}
#survey-form {
  width: 100%;
  padding-top: 1.5em;
}
label,
p,
textarea {
  /* width: 100%; */
  margin-left: 9%;
  /* padding-top: 10px; */
  /* background-color: lightgray; */
}
input {
  width: 80%;
  margin-left: 9%;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 0.8em;
  margin-right: -7%;
  width: 7%;
}
input[type="submit"] {
  width: 80%;
  font-size: 1em;
  background-color: #98cfff;
  font-weight: 600;
  margin-bottom: 1em;
}
select {
  margin-left: 9%;
  width: 81%;
  background-color: whitesmoke;
}
p {
  width: 80%;
  margin-bottom: -0.5px;
}
textarea {
  width: 80%;
}
hr {
  width: 100%;
}
@media screen and (min-width: 600px) {
  div {
    width: 70%;
  }

  input {
    width: 80%;
  }
}

@media screen and (min-width: 810px) {
  div {
    width: 55%;
  }
}
